section.about
  p.about__text
    strong Softline
    | !{ ' ' } – ведущий поставщик IT-решений и сервисов.* Мы&nbsp;предлагаем
    | комплексные IT-решения, облака, программное и&nbsp;аппаратное обеспечение, решения по
    | цифровой трансформации и кибербезопасности, а также широкий спектр IT-услуг.
