@use "@/styles/variables.scss" as vars;

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 23px 8px;
  margin: 0 auto;
  margin-bottom: 36px;
  max-width: 890px;

  &__number-container {
    text-align: center;

    .numbers__number {
      display: inline-flex;
      color: vars.$red;
      font-size: 40px;
      line-height: 80%;
      &-accent {
        margin-right: 4px;
        margin-left: 4px;
        font-size: 30px;
        line-height: 100%;
        &--font-black {
          font-family: "Proxima Nova Black";
        }
      }
    }

    .numbers__text {
      margin-top: 5px;
      font-weight: normal;
      font-size: 16px;
      line-height: 150%;
      &--line-height-120 {
        @extend .numbers__text;
        line-height: 120%;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .numbers {
    gap: 80px 180px;
    margin-bottom: 80px;
    &__number-container {
      text-align: left;
      .numbers__number {
        font-size: 80px;
        &-accent {
          font-size: 64px;
        }
      }
    }
    .numbers__text {
      font-size: 18px;
    }
  }
}
