section.numbers
  .numbers__number-container
    p.numbers__number
      span.numbers__number-accent.numbers__number-accent--font-black &gt;
      | 30 лет
    p.numbers__text на IT-рынке
  .numbers__number-container
    p.numbers__number 4600
    p.numbers__text сотрудников в России
  .numbers__number-container
    p.numbers__number 25
    p.numbers__text городов России
  .numbers__number-container
    p.numbers__number 2000
      span.numbers__number-accent +
    p.numbers__text разработчиков
  .numbers__number-container
    p.numbers__number 3000
      span.numbers__number-accent +
    p.numbers__text--line-height-120
      | сотрудников ежегодно
      br
      | проходят оценку и обучение
