.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px 5px;

  &__nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    border: 1px solid #d9d9d9;
    padding: 30px 70px;
    &__nav ul {
      gap: 20px;
    }
  }
}
