header.header
  img.header__logo(src="/images/logo.svg", alt="softline logo")
  nav.header__nav
    ul
      each link in ['Облачные решения', 'Кибербезопасность', 'Импортозамещение', 'Цифровая трансформация']
        li
          a(href="#")= link
