@use "@/styles/variables.scss" as vars;

.map {
  margin: 0 -14px;
  padding: 14px 14px 0 14px;
  overflow-x: auto;

  &__menu {
    display: flex;
    position: relative;
    column-gap: 2rem;
    row-gap: 20px;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 8px;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.06);
    padding: 18px 5px 21px;
    min-width: fit-content;
    white-space: nowrap;
  }

  &__dropdown {
    flex-grow: 1;
    cursor: pointer;
    font-size: 20px;
    line-height: 100%;
    &--opened + .map__tabs {
      display: none;
    }
    &--opened {
      @extend .map__dropdown;
      & .map__navbar {
        display: block;
      }
      & .map__dropdown-arrow span.arrow__left-piece {
        transform: rotate(-38deg);
      }
      & .map__dropdown-arrow span.arrow__right-piece {
        transform: rotate(38deg);
      }
    }
    &--closed {
      @extend .map__dropdown;
      & .map__navbar {
        display: none;
      }
    }
  }

  &__navbar {
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    max-width: 1250px;
    font-stretch: normal;
    font-size: 14px;
    line-height: 100%;
    font-family: "Proxima Nova";
    white-space: normal;
    .map__navlist {
      display: grid;
      grid-template-columns: repeat(3, minmax(min-content, auto));
      gap: 15px;
      padding: 15px 0px;

      .map__nav-nested-list .map__nav-item {
        padding-top: 12px;
        font-weight: normal;
      }
      .map__nav-item {
        text-wrap: nowrap;
        .map__nav-item-text-container {
          display: flex;
          align-items: center;
          gap: 3px;
        }
        .triangle {
          border-width: 4px 3.5px 0 3.5px;
          border-style: solid;
          border-color: black transparent transparent transparent;
          width: 0px;
          height: 0px;
        }

        &--expandable-closed {
          @extend .map__nav-item;
          & > ul {
            display: none;
          }
        }
        &--expandable-opened {
          @extend .map__nav-item;
          .map__nav-item-text {
            color: vars.$red;
          }
          .triangle {
            border-width: 0 3.5px 4px 3.5px;
            border-color: transparent transparent black transparent;
          }
        }

        .map__nav-item-text {
          cursor: pointer;
          text-wrap: wrap;
        }
      }
    }
  }

  &__tab-input {
    position: fixed;
    opacity: 0;
    width: 0;
    &:checked + .map__tab-text {
      color: vars.$red;
      text-decoration: underline 2px;
      text-underline-offset: 22px;
    }
  }
  &__tab-text {
    cursor: pointer;
    margin-right: 14px;
    font-size: 14px;
    line-height: 16px;
  }

  &__map-img {
    display: block;
    margin: 0 auto;
    min-width: 855px;
  }
}
@media screen and (min-width: 430px) {
  .map__navbar .map__navlist {
    grid-template-columns: repeat(4, minmax(min-content, auto));
  }
}
@media screen and (min-width: 530px) {
  .map__navbar .map__navlist {
    grid-template-columns: repeat(5, minmax(min-content, auto));
  }
}
@media screen and (min-width: 600px) {
  .map__navbar .map__navlist {
    grid-template-columns: repeat(6, minmax(min-content, auto));
  }
}
@media screen and (min-width: 750px) {
  .map__navbar .map__navlist {
    grid-template-columns: repeat(7, minmax(min-content, auto));
  }
}

@media screen and (min-width: 1024px) {
  .map {
    &__menu {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.06);
    }
    &__dropdown {
      font-size: 24px;

      &--opened + .map__tabs {
        display: initial;
        opacity: 10%;
      }
      &-arrow {
        margin: 0 1rem;
        & span {
          top: 10px;
        }
      }
    }
    &__navbar {
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 1;
      box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.06);
      font-size: 18px;
      line-height: 20px;
      .map__navlist {
        grid-template-columns: repeat(8, minmax(min-content, auto));
        column-gap: 24px;
        padding: 30px 5px;
        .map__nav-item {
          white-space: unset;
          .triangle {
            display: none;
          }
          ul {
            display: block;
          }
        }
      }
    }

    &__tab-text {
      margin-right: 30px;
      font-size: 18px;
      line-height: 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &__map-container {
      padding: 90px 30px 0;
    }
  }
}

@media screen and (min-width: 1150px) {
  .map {
    &__menu {
      padding: 28px 70px;
    }
    &__navbar {
      top: 100px;
      .map__navlist {
        padding: 30px 68px;
      }
    }
  }
}
