mixin accordion(label, text)
  .accordion__container
    .accordion__content-wrapper
      p.accordion__label= label
      span.accordion__arrow.arrow
        span.arrow__left-piece
        span.arrow__right-piece
      p.accordion__content= text

section.business
  .accordion
    h1 Направления бизнеса
    +accordion("Решения Softline", "ГК Softline предлагает клиентам собственную линейку оборудования (ПК, серверы,торговое оборудование и проч.), разработку программных продуктов, облачных решений, решений в области информационной безопасности.")
    +accordion("Кибербезопасность", "Softline обладает всеми необходимыми государственными лицензиями для организации проектов по информационной безопасности и аттестации.")
    +accordion("Импортозамещение", "ГК Softline обладает широчайшим портфелем решений и услуг для импортозамещения, включая ПО и оборудование собственного производства.")
    +accordion("Облачные решения", "Softline использует современные облачные решения как российских, так и международных вендоров для масштабирования бизнеса своих клиентов. Подписки, услуги, трансформация.")
    +accordion("Цифровая трансформация и разработка ПО", "Softline использует современные технологи и новые возможности для увеличения производительности бизнеса заказчика. В штате ГК Softline - 2000+ разработчиков, которые трансформируют ПО под нужды конкретного предприятия.")
    +accordion("Техническая поддержка Softline", "200+ инженеров, 24 часа в сутки, 7 дней в неделю, 12 месяцев в году, сервисное партнерство с 30+ мировыми производителями.")
