@use "reset.scss";
@use "variables.scss" as vars;
@use "fonts.scss";
@use "arrow.scss";
@use "@/sections/header/header.scss";
@use "@/sections/banner/banner.scss";
@use "@/sections/about/about.scss";
@use "@/sections/mission/mission.scss";
@use "@/sections/numbers/numbers.scss";
@use "@/sections/map/map.scss";
@use "@/sections/business/business.scss";
@use "@/sections/benefits/benefits.scss";
@use "@/sections/corp-life/corp-life.scss";
@import "@glidejs/glide/src/assets/sass/glide.core";

body {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1250px;
  min-height: 100vh;
  color: vars.$grey;
  font-weight: 600;
  font-stretch: condensed;
  font-size: 14px;
  line-height: 16px;
  font-family: "Proxima Nova";
  a {
    color: inherit;
    text-decoration: none;
  }
  h1 {
    font-size: 28px;
    line-height: 100%;
  }
  h2 {
    font-size: 22px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
    line-height: 20px;
    h1 {
      font-size: 56px;
    }
    h2 {
      font-size: 40px;
    }
  }
}
